# Configuración de Variables de Entorno del Sistema

BACKEND_PORT=4000
FRONTEND_PORT=5173
DATABASE_URL="file:./dev.db"
JWT_SECRET="super-secret-parqueadero-key-2026-sistemas-empresariales"
JWT_EXPIRATION="8h"
